@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Water+Brush&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* General styles */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(216, 225, 187);
}
header {
    background-color: rgb(208, 197, 174);
} 
nav {
    
}
#logo {
    font-family: 'water brush', Arial;
    font-weight: 300;
}
header a {
    text-decoration: none;
    color: inherit;
    font-family: 'alex brush', sans-serif;
    font-weight: 600;
}
#treatments-£ {
    font-family: 'caveat brush', sans-serif;
}
main {
    flex: 1 0 auto
}
footer {
    background-color: rgb(208, 197, 174);
} 