@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Water+Brush&display=swap');

/* Overriding page styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* General styles */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8
}
header {
    background-color: rgb(208, 197, 174);
    padding: 0rem 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(12, 12, 12);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
} 
header > a > h5 {
    font-family: 'alex brush', Arial;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
    margin-top: -10px;
    padding: 0rem 0.5rem;
}
#logo {
    font-family: 'alex brush', Arial;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
    padding-bottom: -1px;
}
#menu {
    font-size: 115%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 0.5rem;
}
header a {
    text-decoration: none;
    color: inherit;
    font-family: 'alex brush', sans-serif;
    font-weight: 600;
}
nav {
    position: absolute;
    background: rgb(208, 197, 174);
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px rgb(12, 12, 12);
    padding: 0 .5rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

#bio {
    font-family: 'caveat brush', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    background-color: #f8f8f8;
}

#logo-image {
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

#treatments-£  {
    font-family: 'caveat brush', sans-serif;
    text-align: center;
    font-size: 22px;
    background-color: rgb(208, 197, 174);
}
#treatments-£ > li {
    font-family: 'caveat brush', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgb(208, 197, 174);
    padding: 2px;
    margin-bottom: 0px;
}
main {
    background-color: #f8f8f8;
    flex: 1 0 auto;
    margin-top: 55px;
    margin-bottom: 20px;
}
#qualified {
    font-family: 'caveat brush', sans-serif;
    font-size: 15px;
    background-color: #f8f8f8;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
#logo-images {
    display: flex;
    justify-content: space-evenly;
}
#qualified-logo1>img {
    height: 70px;
    width: 150px;
    margin: 5px;
}
#qualified-logo2>img {
    height: 70px;
    width: 85px;
    margin: 5px;
}
#social-networks {
    background-color: rgb(208, 197, 174);
    text-align: center;
    list-style-type: none;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} 
#social-networks  i {
    font-size: 200%;
}
footer {
    box-shadow: 0 0 0 2px rgb(12, 12, 12);
}
/* Gallery & Review page*/
/* Gallery */
.gallery-section > h3 {
    font-family: 'alex brush', sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 1px;
    letter-spacing: 2px;
}
#gallery > img {
    padding: 8px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    width: 100%;
    
}
#gallery {
    line-height: 0;
}
/* Review */
.review-section>h3 {
    font-family: 'alex brush', sans-serif;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
}
#review > img {
    width: 100%;
    line-height: 0.5em;
    padding: 3px 5px 2px 5px;
    background-color: rgb(208, 197, 174);
}
#review {
    line-height: 0;
}


/* Media Query for Tablets and larger */
@media screen and (min-width:768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: .5rem;
        justify-content: space-between;
    }
    header a {
        text-decoration: none;
        color: inherit;
        font-family: 'alex brush', sans-serif;
        font-weight: 600;
    }
    header>a>h5 {
        font-family: 'alex brush', Arial;
        font-size: 28px;
        font-weight: 900%;
        margin: 0rem 0.5rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 1rem;
    }
    main {
        background-color: #f8f8f8;
        flex: 1 0 auto;
        margin-top: 80px;
    }
    #bio {
        font-family: 'caveat brush', sans-serif;
        font-size: 30px;
        text-align: center;
        background-color: #f8f8f8;
        margin-top: 25px;
    }
    #logo-image {
        height: 400px;
        width: 400px;
        display: flex;
    }
    #treatments-£ {
        font-family: 'caveat brush', sans-serif;
        text-align: center;
        font-size: 45px;
        background-color: rgb(208, 197, 174);
    }
    #treatments-£>li {
        font-family: 'caveat brush', sans-serif;
        font-size: 30px;
        text-align: center;
        background-color: rgb(208, 197, 174);
    }
    #qualified {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #qualified-logo1>img {
        height: 120px;
        width: 300px;
        margin: 20px;
        border-radius: 10%;
    }
    #qualified-logo2>img {
        height: 120px;
        width: 200px;
        margin: 20px ;
        border-radius: 10%;
    }
    #social-networks i {
        font-size: 300%;
    }
    /* Gallery & Review page*/
    /* Gallery */
    .gallery-section>h3 {
        font-size: 25px;
        padding-top: 2em;
    }
    
    #gallery > img {
        padding: 15px;
        text-align: center;
        flex-basis: 200px;
        flex-grow: 1;
    }
    
    #gallery {
        
    }
    /* Review */
    .review-section>h3 {
    }
    
    #review>img {
    }
    
    #review {  
    }
}
/* Media Query for Tablets and larger */
@media screen and (min-width:1000px) {

}