@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Water+Brush&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* General styles */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(216, 225, 187);
}
header {
    background-color: rgb(208, 197, 174);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(12, 12, 12);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
} 
#logo {
    font-family: 'water brush', Arial;
    font-weight: 300;
    text-decoration:underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
}
#menu {
    font-size: 115%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: .5rem;
}
header a {
    text-decoration: none;
    color: inherit;
    font-family: 'alex brush', sans-serif;
    font-weight: 600;
}
nav {
    position: absolute;
    background-color: rgb(208, 197, 174);
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px rgb(12, 12, 12);
    padding: 0 .5rem;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#treatments-£ {
    font-family: 'caveat brush', sans-serif;
    font-weight: 200px;
}
main {
    flex: 1 0 auto
}
footer {
    background-color: rgb(208, 197, 174);
} 